.page {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: auto;
}
  

.left {
    align-self: center;
    justify-self: center;
    margin-top: 300px;
  }

.welcome-img{
  height: 200px;
}

.right {
    align-self: center;
    margin-top: 300px;
  }

.card {
  width: 150%;
}
.sizedbox {
  height: 300px;
}

.login-section{
    margin-left: 10px;
}

.login-section .card-body .form-group{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: auto;
}

.login-formfield {
  padding-left: 20px;
}
 
.help-block {
  padding-left: 20px;
}

.login-failed{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    width: 65%;    
    background-color: red;
}
 
.login-failed-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;    
    color: aliceblue;
}
.login-failed, .register-success{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    width: 65%;    
    background-color: red;
}

.login-failed-text, .register-success-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;    
    color: aliceblue;
}
